.fit-cover {
  object-fit: cover;
}


/*
     FILE ARCHIVED ON 17:14:37 May 25, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:26:44 Jul 21, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 143.609
  exclusion.robots: 0.074
  exclusion.robots.policy: 0.065
  RedisCDXSource: 9.896
  esindex: 0.009
  LoadShardBlock: 114.565 (3)
  PetaboxLoader3.resolve: 233.711 (2)
  PetaboxLoader3.datanode: 127.126 (5)
  load_resource: 306.442
  loaddict: 68.267
*/